# MATLAB/Simulink temporary files
**/slprj/
**/bld/
**/*.slxc
**/*.slxc.autosave
**/*.mex*
**/*.log
**/*.o
**/*.mat
udp_sine_gen.slx

# Python/Environment
**/__pycache__/
**/.venv/
**/.python-version
**/uv.lock

# Database
shared_data/
.env
