# MATLAB/Simulink temporary files
**/slprj/
**/bld/
**/*.slxc
**/*.mex*
**/*.log
**/*.o
**/*.mat

# Python/Environment
**/__pycache__/
**/.venv/
**/.python-version
**/uv.lock

# Simulink/MATLAB artifacts
**/slprj/
**/bld/
**/*.slxc
**/*.mex*
**/*.log
**/*.o
**/*.mat

# Database
shared_data/
